<div class="container mt-5">
    <h1>Posts</h1>
    <button mat-raised-button class="primary-bg-btn"routerLink="/admin/post/new-post">And New</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Published</th>
            <th scope="col">Modified</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let page of pages">
            <td><img src="{{page?.image?.imageUrl!==null?page?.image.imageUrl:''}}" class="image-thumbnail" width="150"/></td>
            <td>{{page?.title}}</td>
            <td>{{page?.category?.name|| "Uncategorised"}}</td>
            <td>{{getAuthor(page?.authorId)}}</td>
            <td>{{page?.dateCreated | date:'d/M/yy'}}</td>
            <td>{{page?.dateUpdated | date:'d/M/yy'}}</td>
            <td class="clickable"><i  class="fa-solid fa-trash-can" (click)="deletePost(page)"></i>
                
                    <i  class="fa-solid fa-pen " routerLink="/admin/post/edit/{{page.postId}}" [state]="{postData:page}"></i>
                
                <i  class="fa-solid fa-eye" routerLink="/blog/{{page.slug}}" [state]="{postData:page}"></i>
            </td>
          </tr>
          <tr>
           
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3" *ngIf="pagination">
        <pagination [boundaryLinks]="true"
         [totalItems]="pagination.TotalCount"
         [itemsPerPage]="pagination.PageSize"
         [(ngModel)]="pagination.CurrentPage"
         (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>
