<div class="container mt-5">     
   
    
    
    <div class="card mb-3" style="max-width: 100%;" *ngIf="widget;else else_page">
        <div class="row g-0">
          <div class="col-md-3 mx-auto">
            <img class=" img-thumbnail  rounded-circle mx-auto d-block " width="200" src="{{widget?.profilePicture}}" alt="Smart Ganyaupfu profile image">
            
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h4 class="card-title primary-color">{{widget?.intro}}</h4>
              <h2 class="sg-title">{{widget?.title}}</h2>
              <div class="social-icons ">
               <a href="{{widget?.linkedInUrl}}"><i class="fa-brands fa-linkedin"></i></a> 
                <a href="{{widget?.gitHubUrl}}"><i class="fa-brands fa-github"></i></a>
                <a href="{{widget?.twitterUrl}}"><i class="fa-brands fa-twitter"></i></a>
                <a href="{{widget?.youTubeUrl}}"><i class="fa-brands fa-youtube"></i></a>
              </div>
             
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-8">
            <div class="card mb-3" style="max-width: 100%;" *ngIf="page;else else_block_page">
              
                    <div class="card-body">
                      <h2 class="card-title primary-color sg-title-widget">{{page?.title}}</h2>
                      <div class="the-content" [innerHTML]="page?.content | trustedUrl"></div>
                      
                     <a href="mailto:{{widget?.cvUrl}}" mat-raised-button class="mt-3"> Resume/CV Request</a> 

                     <!--div class="lets-work text-center" [innerHtml]="widget?.hireMeBlock">
                      
                     </div-->
                    </div>
                 
              </div>
            <ng-template #else_block_page>
              <div class="alert alert-secondary" role="alert">
                Oops! Nothing Found. Please check again later.

                <button *ngIf="0>1" routerLink="/admin/widgets">Set Page</button>
              </div>


            </ng-template>
              <div class="services-home mt-5" *ngIf="myServices;else else_block"> <!--My services-->
                  <h2 class="sg-title">My Services</h2>
                  <div class="row mt-4">
                      <div class="col-md-6 mt-2" *ngFor="let service of myServices">
                         <!--<div class="card bg-dark text-white p-2" style="max-width: 100%;">
                            <img src="{{service?.image?.imageUrl}}" class="card-img-topx" width="100px" alt="service name" routerLink="/services/{{service.slug}}" >
                            <div class="card-body">
                              <h2 class="card-title" routerLink="/services/{{service.slug}}">{{service?.title}}</h2>
                              <p class="card-text">{{service?.excerpt}}</p>
                              <a  mat-raised-button class="mt" routerLink="/services/{{service.slug}}">Read More</a>
                            </div>
                           
                     
                          </div>-->
                         
                          <div class="card text-white sg-card-link">
                           <a routerLink="/services/{{service.slug}}"> <img src="{{service?.image?.imageUrl}}" class="card-img rounded" alt="Smart Services" routerLink="/services/{{service.slug}}" width="100%" height="auto">
                            <div class="card-img-overlay">
                              <h2 class="card-title sg-card-title" routerLink="/services/{{service.slug}}">{{service?.title}}</h2>
                             
                            </div></a>
                          </div>

                      </div>
                   
                   
                  </div>
                  <div class="text-center mb-3 mt-3">
                    <a mat-raised-button routerLink="/service"> Load More</a>
                  </div>
              </div> 
              <ng-template #else_block>
                <div class="alert alert-secondary" role="alert">
                  Oops! Nothing Found. Please check again later.
                </div>
              </ng-template>
              <!--close my services-->
              <hr>
              <div class="services-home  mt-5" *ngIf="portfolios; else else_block"> <!--My Portifolio-->
                <h2 class="sg-title">Portfolio</h2>
                
               <div class="sg-desktop">
                <carousel [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="singleSlideOffset"
                [interval]="0"
                [noWrap]="noWrap"
                [pauseOnFocus]="true"
                >
                <slide *ngFor="let slide of portfolios; let index=index">
                  <a class="sg-slide" routerLink="/portfolios/{{slide.slug}}">
                    <img [src]="slide?.image?.imageUrl" alt="{{slide.title + ' image'}}" width="100%" height="auto" style="display: block; width: 100%;">
                  <div class="carousel-caption">
                    <h2 class="card-title sg-card-title" >{{slide?.title}}</h2>
                  </div></a>
                </slide>
              </carousel>
               </div>
               <div class="sg-mobile">
                <carousel [itemsPerSlide]="1"
                [singleSlideOffset]="singleSlideOffset"
                [interval]="0"
                [noWrap]="noWrap"
                [pauseOnFocus]="true"
                >
                <slide *ngFor="let slide of portfolios; let index=index">
                  <a class="sg-slide" routerLink="/portfolios/{{slide.slug}}">
                    <img [src]="slide?.image?.imageUrl" alt="{{slide.title + ' image'}}"   width="100%" height="auto" style="display: block; width: 100%;">
                  <div class="carousel-caption">
                    <h2 class="card-title sg-card-title" >{{slide?.title}}</h2>
                  </div></a>
                </slide>
              </carousel>
            </div>

                <div class="text-center mt-3 mb-3">
                  <a mat-raised-button routerLink="/portfolio"> Load More</a>
                </div>
            </div> <!--close my portifolio-->

          </div> <!-- /first colum-->
          <div class="col-md-4" *ngIf="blocks">
            <div class="card mb-3 card-light widgets" style="max-width: 100%;"> <!--My skills-->
              
                <div class="card-body widget-image">
                  <h4 class="card-title primary-color sg-title-widget">My Skills</h4>
                  <div [innerHtml]="skillBlock?.content" class="sg-list">

                  </div>
                  
                 
                </div>
             
          </div> <!--My skills-->
          <div class="card mb-3 card-light" style="max-width: 100%;" *ngIf="posts!=null;else else_page">  <!--Blog-->
              
            <div class="card-body" >
              <h4 class="card-title primary-color sg-title-widget">Blog</h4>
              <div class="list-group">
                <a routerLink="/blog/{{post.slug}}" class="list-group-item list-group-item-action " aria-current="true" *ngFor="let post of posts">
                  <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1" routerLink="/blog/{{post.slug}}">{{post?.title}}</h2>
                    <small>{{post?.dateCreated | date:'d/M/yy'}}</small>
                  </div>
                  <!--p class="mb-1">{{post.excerpt}}</p-->
                  <a class="sg-widget-link" routerLink="/blog/{{post.slug}}">Read More</a>
                </a>
                
              </div>
              
             <a mat-raised-button class="mt-3 primary-bg-btn" routerLink="/blog">Load More</a>
            </div>
         
      </div>

            <div class="card mb-3 card-light" style="max-width: 100%;"> <!-- Work Experience-->
                    
                <div class="card-body">
                <h4 class="card-title primary-color sg-title-widget">Work Experience</h4>
                <p [innerHtml]="workBlock?.content">
                    </p>
                
                </div>
            
            </div>

            <div class="card mb-3 card-light" style="max-width: 100%;"> <!--Education-->
                    
                <div class="card-body">
                <h4 class="card-title primary-color sg-title-widget">Education</h4>
                <p [innerHtml]="eduBlock?.content">  </p>
                
                </div>
            
            </div>


            <div class="card mb-3 card-light" style="max-width: 100%;"> <!--Hobbies-->
                    
                <div class="card-body">
                <h4 class="card-title primary-color sg-title-widget">Interests</h4>
                <p [innerHtml]="InterestBlock?.content">  </p>
                
                </div>
            
            </div>

          </div><!--End of second column, side bar-->
        <hr>
      
        
         
    </div>
</div>


<ng-template #else_page>
  <div class="alert alert-secondary" role="alert">
    Oops! Nothing Found. Please check again later.

    <button *ngIf="0>1" routerLink="/admin/widgets">Set Page</button>
  </div>


</ng-template>