<div class="container mt-5 mb-5">

    <div *ngIf="page">
        
        <hr/>
        <tabset #staticTabs>
         
          <tab heading="Update Portfolio Item" >
            <div class="alert alert-info" *ngIf="updatePageForm.dirty" >
                <p><strong>Information: </strong> Changes detected, please note any unsaved changes will be lost!</p>
            </div>
            <form [formGroup]="updatePageForm" autocomplete="off" (ngSubmit)="updatePage()" >
              <div class="row">
                                  
                <div class="col-4">
                    <h4> Title: </h4>
                    <input type="text" class="form-control"  formControlName="title" >
                    <div class="mt-2" >
                        <label  class="form-label"> Category  </label>
                       <span></span>
                        <select id="cars" class="form-control" formControlName='categoryId' >
                            <option   *ngFor="let catgory of categories" [ngValue]="catgory?.categoryId">{{catgory.name}}
                              
                            </option>
                      
                          </select>
                      </div> 
                </div>
                <div class="col-4" *ngIf="page.title">
                   <h4 *ngIf="show;else else_block "> Slug: {{page.slug | slugify}}</h4> <ng-template #else_block><h4> Slug: {{slug | slugify}}</h4></ng-template> 
                   <span *ngIf="show"><a class="customLink" (click)="editSlug()">edit slug</a></span>
                   <div *ngIf="slugEdit">
                       <input type="text" class="form-control" autocomplete="off"  name="slug" [(ngModel)]="slug" [ngModelOptions]="{standalone: true}"  >
                   </div>
                  
               </div>
               <div class="col-4 featureImage"><!--Feature Image-->
                   <h4> Feature Image: </h4>
                   <img *ngIf="image;else else_block" src="{{image.imageUrl}}" width="70"  />
                 <div>
                    <ng-template #else_block><img  *ngIf="page.image" src="{{page.image.imageUrl}}" width="70"  />
                    </ng-template>
                 </div>
                  
                   <i class="fa-solid fa-upload image-upload-icon" (click)="selectTab(1)" style="font-size: 30px;" ></i>

                   
                   <div class="mt-2" >
                   <span>Gallery</span>
                    <select   class="form-control" formControlName="galleryId">
                        <option   *ngFor="let gallery of galleries" [ngValue]="gallery?.galleryId"> {{gallery?.title}}
                          
                        </option>
                  
                      </select>
                  </div> 
                   
               </div>
                <div class="col-12 mt-2">
                    <h4> Page Content: </h4>
                    <editor apiKey="as2y4cbv5phr8yh7lyvpzyx2q12nc90soaiou632j1wkchbs"
                    
                     formControlName="content"
                    initialValue="<p>Initial content of the editor</p>"
                    [init]="{
                   
                   selector: '#tinymce',
                    branding: false,
                        height: 500,
                        menubar: true,
                        block_formats: 'Paragraph=p; Header 1=h1; Header 2=h2; Header 3=h3',
                        plugins: [ 'image','advlist','autolink','charmap','table', 'preview','anchor', 'code','lists', 'table','link','media','visualblocks'],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent |link removeformat image| code help'
                    }"
                    >
       
       
       
                    </editor>
                </div>
       
                <div class="col-6 mt-3">
                   <div class="mb-3">
                       <label  class="form-label">Except</label>
                       <div class="form-floating">
                         <textarea class="form-control" formControlName="excerpt"  placeholder="Brief text"  style="height: 100px"></textarea>
                        
                       </div>
         
                     </div> 
                </div>
                <div class="col-6 mt-3">
                   <div class="mb-3">
                       <label  class="form-label">Meta Description</label>
                       <div class="form-floating">
                         <textarea class="form-control" formControlName="metaDescription"  placeholder="Brief text"  style="height: 100px"></textarea>
                        
                       </div>
         
                     </div> 
                </div>
       
                <div class="col-6 mt-3">
                   <div class="mb-3">
                       <label  class="form-label">Key Words</label>
                       <div class="form-floating">
                         <textarea class="form-control" formControlName="metaKeyWords"  placeholder="Brief text"  style="height: 100px"></textarea>
                        
                       </div>
         
                     </div> 
                </div>

             
                
               
              
            </div>
                <button type="submit" class="mt-5 primary-bg-btn" mat-raised-button>Update</button>
              </form>
       
             
          </tab>
          <tab heading="Images">
            <div class="row">
                <app-media (newImageSelectedEvent)="addFeatureImage($event)"></app-media>
             </div>
          </tab>
        </tabset>
      </div>
      
 </div>

