<nav class=" sticky-top navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="javascript:void(0)"><img src="https://res.cloudinary.com/smart-ganyaupfu/image/upload/v1653230434/SG_logo_colour_mplpoc.png" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto mx-auto">
          <li class="nav-item">
            <a  class="nav-link " routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/service" routerLinkActive="active">What I Offer</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/learn-to-code" routerLinkActive="active">Learn To Code</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>

