<div class="container mt-5 mb-3" *ngIf="portfolios!=null;else else_block">
    <h1 class="sg-title">Portfolio</h1>


    <div>
        

            <div class="services-home text-center mt-5"> <!--port all-->
    
                <div class="row mt-4">
                  <div class="col-md-4 mb-3" *ngFor="let portfolio of portfolios">
                    <div class="card" style="max-width: 100%;">
                     <a routerLink="/portfolios/{{portfolio.slug}}"> <img src="{{portfolio?.image?.imageUrl}}" class="card-img-top" alt="{{portfolio.title + ' image'}}" >
                      <div class="card-body">
                        <h2 class="card-title" >{{portfolio?.title}}</h2>
                        
                      </div></a>
                    </div>
                  </div>
                   
                </div>
        
                
            </div> <!--port all-->
         
      </div>

 
</div>
<ng-template #else_block>
  <div class="alert alert-secondary" role="alert">
    Oops! Nothing Found. Please check again later.
  </div>
</ng-template>
