<div class="container mt-5">
    <h3> Browse some of my selected projects. </h3>
    <h1>Portfolio</h1>


    <div>
        <tabset>
          <tab heading="ALL" id="tab1">

            <div class="services-home text-center mt-5"> <!--port all-->
    
                <div class="row mt-4">
                  <div class="col-md-4 " *ngFor="let portfolio of portfolios">
                    <div class="card" style="max-width: 100%;">
                      <img src="{{portfolio?.image?.imageUrl}}" class="card-img-top" alt="{{portfolio.title + ' image'}}" routerLink="/portfolios/{{portfolio.slug}}">
                      <div class="card-body">
                        <h5 class="card-title" routerLink="/portfolios/{{portfolio.slug}}">{{portfolio?.title}}</h5>
                        <p class="card-text">{{portfolio?.excerpt}}</p>
                        <a href="#" mat-raised-button class="mt" routerLink="/portfolios/{{portfolio.slug}}">Read More</a>
                      </div>
                    </div>
                  </div>
                   
                </div>
        
                
            </div> <!--port all-->
          </tab><!--First Tab-->
          
        </tabset>
      </div>

 
</div>