/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body, .card{
    background: rgba(246, 246,246, 1);
    color: rgb(32, 30, 30);
}

/* Main headings*/
.sg-title{
  
color: #14344c;
text-transform: uppercase;
font-family: monospace !important;
font-weight:700 !important;
font-size: 36px !important;

}
.sg-title::before{
    content:'[';
   color: #2dadc6;
   font-size: 42px !important;
}
.sg-title:after{
    content:']';
   color: #2dadc6;
   font-size: 42px !important;
}
.sg-card-title {
    background-color: #0c0c0ca0;
}
/* headings end*/

/* Paragraphs start*/
p, li {
    font-size: medium;
    line-height: 1.5rem;
}

/* paragrapgh end*/

/* The Content Section */
.the-content a {
    color:#120495;
}
.the-content a:hover{
    color: #2dadc6;
}

/* Side bar home and widgets Section*/
.sg-title-widget {
text-transform: uppercase ;
font-family: monospace !important;
font-weight: 700;
font-size: 24px !important;
}

.sg-widget-link {
    color: #2dadc6;
}
.sg-widget-link:hover {
    color:#14344c;
}

/* end widget section*/
/* Slide Images*/
a h2:hover{
    color: #2dadc6 !important;
}

a img:hover{
    transform: scale(0.95);
    color: #2dadc6;
}

/* end slide */
/* end of title*/
.sg-card-link a:hover{
    background: rgba(0, 0, 0, 0.539) !important;
    
}


a:hover {
    color:#2dadc6;
}
.primary-color {
    color:#2dadc6;
}
.customLink {
    color: #14344c;
}
/* Buttons */
.primary-bg-btn {
background: #2dadc6;
color: #fff;
padding: 0 5px!important;
}

.primary-bg-btn:hover {
    background: #14344c;
   
    }
/* Btn end */

.bg-light {
    background: #fff !important;
    color: #000 !important;
}


/* Social Icons*/
.social-icons i {
padding-right: 15px;
color:#2dadc6;
font-size: medium;
}
.modal-body {
    background: #2dadc6;
}
.social-icons ul li {
  list-style: none;
    }

.social-icons ul li i{
 
    color:#2dadc6;
    font-size: 20px;
}
.clickable i , img{
    cursor: pointer;
}
.card-light {
    background: #fff !important;
    color: #000;
}
.card-media-hover {
    color: #000;
}
.card-media-hover .fa-solid {
    padding-right: 19px;

}
.fa-solid{
    padding-right: 19px;  
}

.card-media-hover:hover{
   background-color:#2dadc6;
   color: #fff;
}
.card-media-hover .fa-trash-can:hover, .fa-trash-can:hover {
    color: #911;
}

/* footer */
.footer {
    background: #14344c;
    color: #fff Im !important;
}
.footer-copy, .footer-copy p {
    color:#2dadc6 !important;
}
/* footer end*/
.hireMeEmail {
    font-size: 40px;
}
.btn-cancel {
    margin-left: 10px !important;
    background-color: #911;
    color: white;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2dadc6;
    border-color: #14344c;
}
.page-link {
   
    color: #2dadc6;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #2dadc6;
}
.featureImage i:hover {
color: #2dadc6;
}
/* Nav Start */
.mobile-nav {
    padding: 5px !important;
}

a.nav-link {
    color:#14344c;
    font-size:larger;
    font-weight:700;
    text-transform: uppercase;
    font-family: monospace;
}
a.nav-link:hover {
    color: #2dadc6;
    border-top: 2px solid #14344c;
}
a {
    color: rgb(250, 249, 252);
}
/* Nav End */
/* Bootstrap Card*/
.card {
   
    border: 0px solid rgba(0,0,0);
    border-radius: 0rem;
}

/* POst Page Content */
.post-content {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

/* Share Icons */ 
.sb-whatsapp {
    background-color: #25D366 !important;
}
.sb-whatsapp .sb-text{
    background-color:#0ea846 !important;
}
.sb-twitter {
    background-color: #00acee !important;
}
.sb-twitter .sb-text {
    background-color: #0795ce;
}
.sb-telegram {
    background-color: #0088cc !important;
}
.sb-telegram .sb-text {
    background-color: #0678b0;
}
.sb-linkedin {
    background-color:#006fa6 !important;
}
.sb-linkedin .sb-text {
    background-color: #026393;
}
.sb-facebook {
    background-color:#006fa6 !important;
}
.sb-facebook .sb-text {
    background-color: #026393;
}
.sb-copy {
    background-color:#2dadc6 !important;
}
.sb-copy .sb-text {
    background-color: #14344c;
}
/* media queries */
@media only screen and (min-width: 769px) {
.sg-mobile{
    display: none;
}
}
@media only screen and (max-width: 768px) {
    .sg-desktop{
        display: none;
    }
    /*Images*/
    .the-content img{
        width: 100%;
    }
    }