/* You can add global styles to this file, and also import other style files */
body, .card{
    background: #000;
    color: #fff;
}
a {
    color:#fff;
}
th, td {
    color:#fff;
}
a:hover {
    color:#2dadc6;
}
.primary-color {
    color:#2dadc6;
}
.primary-bg-btn {
background: #2dadc6;
color: #fff;
padding: 0 5px!important;
}
a.nav-link {
    color:#2dadc6;
}

.bg-light {
    background: #fff !important;
    color: #000 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Social Icons*/
.social-icons i {
padding-right: 15px;
color:#2dadc6;
font-size: medium;
}
.modal-body {
    background: #2dadc6;
}
.social-icons ul li {
  list-style: none;
    }

.social-icons ul li i{
 
    color:#2dadc6;
    font-size: 20px;
}
.clickable i , img{
    cursor: pointer;
}
.card-light {
    background: #fff !important;
    color: #000;
}
.card-media-hover {
    color: #000;
}
.card-media-hover .fa-solid {
    padding-right: 19px;

}
.fa-solid{
    padding-right: 19px;  
}

.card-media-hover:hover{
   background-color:#2dadc6;
   color: #fff;
}
.card-media-hover .fa-trash-can:hover, .fa-trash-can:hover {
    color: #911;
}


.footer {
    background: #14344c;
}
.hireMeEmail {
    font-size: 40px;
}
.btn-cancel {
    margin-left: 10px !important;
    background-color: #911;
    color: white;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2dadc6;
    border-color: #14344c;
}
.page-link {
   
    color: #2dadc6;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #2dadc6;
}
.featureImage i:hover {
color: #2dadc6;
}
