<div class="container mt-3 post-content">
    <button routerLink="/admin/portfolio/edit/{{page?.portfolioId}}">Edit</button>
    <h1 class="sg-title">{{page?.title}} </h1>
    <!--img src="{{page?.image?.imageUrl}}" class="img-fluid" alt="page image"-->
    <div class="" [innerHtml]="page?.content">

    </div>

   

   <div class="row" *ngIf="page.gallery">

    <h2> </h2>
    <div class="col-md-5" *ngFor="let image of page?.gallery.images">
        <a (click)="openModal(template)"><img src="{{image?.imageUrl}}" width="100%"/> </a>
 
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Gallery</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            

            <carousel>
                <slide *ngFor="let image of page?.gallery.images">
                    <img src="{{image.imageUrl}}" width="100%"/>
                </slide>
               
              </carousel>

          </div>
        </ng-template>

    </div>
   </div>
   <app-share-buttons></app-share-buttons>
</div>