<div class="footer container-fluid pt-3" >
    <div class="container">
       <div class=" row">
           <div class="col-md-5">
            <p class="float-start footer-copy">© {{year}} </p><p class="footer-copy  "[innerHTML]="footerCopyText?.content" style="color: #fff;"> </p>
           </div>

           <div class="col-md-3">
            <div class="social-icons ">
                <a href="{{widget?.linkedInUrl}}"><i class="fa-brands fa-linkedin"></i></a> 
                 <a href="{{widget?.gitHubUrl}}"><i class="fa-brands fa-github"></i></a>
                 <a href="{{widget?.twitterUrl}}"><i class="fa-brands fa-twitter"></i></a>
                 <a href="{{widget?.youTubeUrl}}"><i class="fa-brands fa-youtube"></i></a>
               </div>
           </div>

           <div class="col-md-4">
           <small style="color: #fff;">Developed by Smart Ganyaupfu </small><span><small style="color: rgb(152, 142, 142);">| Powered By .NET & Angular</small></span>
           </div>
       </div>
  
    </div>
</div>
